*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Poppins", sans-serif;
  --hero-logo-font: "Herr Von Muellerhoff", cursive;
  --heading-font: "Montserrat", sans-serif;
  --main-background-left-color: #332379;
  --main-background-right-color: #5b42ab;
  --section-width: min(80rem, 80vw);
  --product-details-width: 80%;
  --yellow: #ffc600;
  --dark-yellow: #feb302;
  --pink: #f654ae;
  --dark-pink: #e6489f;
  --old-price: #dfdfdf;
  --light-red: #eb2f64;
  --white: white;
  --section-heading-font-size: clamp(2.5rem, 2.5vw, 8rem);
  --letter-spacing: 0.04em;
  --border-radius: 10px;
  --add-to-cart-font-size: 1rem;
  --add-to-cart-padding: 0.47em;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  background: linear-gradient(
    to right,
    var(--main-background-left-color),
    var(--main-background-right-color)
  );
}

img {
  width: 100%;
}

/************************************** Navbar ***********************************/

header {
  display: flex;
  height: 6rem;
}

#hero {
  background: url(../img/hero-bg.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

#hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

#logo {
  flex: 1;
  margin-left: 5.2rem;
  height: 100%;
  padding-top: 0.25em;
  text-shadow: 2px 2px 2px #000000;
  z-index: 1;
}

.logo__link {
  width: 2rem;
  font-family: var(--heading-font);
  color: var(--yellow);
  font-size: clamp(3.2rem, 5vw, 4rem);
  text-decoration: none;
  height: auto;
}

.nav {
  display: flex;
  list-style-type: none;
  height: 100%;
}

.nav__item {
  margin: 1.5rem;
  text-decoration: none;
  color: var(--white);
  font-size: clamp(1.4rem, 1vw, 2rem);
  padding: 0 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.2s linear;
  z-index: 2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.nav__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateX(0%) translateY(100%);
  background-color: var(--main-background-left-color);
  border-radius: 50%;
  z-index: -1;
  transition: all 0.1s linear;
  transition-property: background-color color border-radius;
}

.nav__item:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  border-radius: 5px;
  text-shadow: none;
}

.nav__item:hover::after {
  transform: translateY(80%);
}

.nav__item--underline {
  border-bottom: 3px solid var(--white);
}
.nav__item:hover .nav__item--underline {
  border-color: transparent;
}

/* Media queries */
@media screen and (max-width: 1100px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  #logo {
    margin: 1rem 0 0.2rem;
  }
}

/************************************** End Navbar ***********************************/

/************************************** Hero banner ***********************************/
#hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 6rem);
  flex-direction: column;
}

.hero-text__heading {
  margin-top: -8rem;
  font-family: var(--hero-logo-font);
  color: var(--yellow);
  font-size: clamp(7rem, 8.6vw, 12rem);
  font-weight: normal;
  text-shadow: 3px 3px 4px #000000;
  z-index: 1;
}

.hero-text__tagline {
  margin-top: -2rem;
  font-size: clamp(1.3rem, 2vw, 3rem);
  width: clamp(26rem, 45vw, 90rem);
  color: var(--white);
  text-align: center;
  letter-spacing: var(--letter-spacing);
  text-shadow: 2px 2px 4px #000000;
  font-family: var(--heading-font);
  font-weight: 500;
  z-index: 1;
}

/************************************** End Hero banner ***********************************/

/* To overcome margin collapsing */
#main-container {
  padding: 1px;
}
/************************************** Limited time ***********************************/
#limited-time {
  max-width: var(--section-width);
  margin: 3rem auto;
  background: url(../img/grit.0f8155d3.png) 1700px,
    url(../img/grit.0f8155d3.png) 1700px, var(--dark-yellow);
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

#limited-time__img {
  position: absolute;
  top: -15.5rem;
  right: -5rem;
  width: 35rem;
  transform: rotate(53deg);
}

.limited-time-wrapper {
  transform: translate(0, 0);
  width: var(--section-width);
  margin: auto;
}

.limited-time__side-banner {
  position: fixed;
  top: 0;
  left: 0;
  transform: rotate(-37deg) translateY(-31%) translateX(-26%);
  width: 9rem;
  text-align: center;
  font-size: 1.1rem;
  background: var(--light-red);
  border-radius: 5px;
}

.limited-time_content-wraper {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center;
  align-items: center;
  letter-spacing: var(--letter-spacing);
  padding: 2rem;
}

.limited-time__text {
  font-size: clamp(2rem, 2.2vw, 3rem);
  z-index: 2;
  padding-left: 5rem;
}

.limited-time__text--attention {
  color: var(--white);
}

.limited-time__time {
  color: var(--white);
  font-size: clamp(5.8rem, 5vw, 9rem);
  z-index: 2;
  font-family: var(--heading-font);
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.7);
}

/* Media queries */
@media screen and (max-width: 1100px) {
  .limited-time_content-wraper {
    grid-template-columns: 1fr;
    padding: 0.9rem;
  }

  .limited-time__text {
    width: 80%;
    padding: 0;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  #limited-time__img {
    top: -6rem;
    right: -3rem;
    width: 31rem;
    transform: rotate(59deg);
  }
}

@media screen and (max-width: 740px) {
  #limited-time__img {
    top: 0rem;
    right: -2rem;
  }
}
@media screen and (max-width: 550px) {
  #limited-time__img {
    display: none;
  }
}
/************************************** End Limited time ***********************************/

/************************************** Special flavour ***********************************/
.add-to-cart,
.add-to-cart-featured {
  font-family: inherit;
  font-weight: 500;
  margin: 0.5rem auto;
  font-size: var(--add-to-cart-font-size);
  background: #ffc600;
  border-radius: 8px;
  border: none;
  padding: var(--add-to-cart-padding);
  cursor: pointer;
}

.add-to-cart:hover,
.add-to-cart-featured:hover {
  background: url(../img/blackgrit.png) center, #ffc600;
  animation: 2s steps(10) 0s infinite normal none running dance;
}

@keyframes dance {
  0% {
    background-position: 0px center;
  }

  100% {
    background-position: -600px center;
  }
}

.special-flavours {
  max-width: var(--section-width);
  margin: 4rem auto;
  letter-spacing: var(--letter-spacing);
}

/* Giving yummy sticks section less margin */
section:nth-of-type(3) {
  margin-top: 1rem;
}

.special-flavours__heading {
  color: var(--yellow);
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: var(--section-heading-font-size);
}

.special-flavours__products-grid {
  margin-top: 1rem;
  background: url(../img/grit.0f8155d3.png) 1700px, var(--pink);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 2em;
  gap: 20px;
}

.special-flavours__products {
  background: var(--dark-pink);
  border-radius: 10px;
  padding: 1em;
}

.special-flavour__content-details {
  width: var(--product-details-width);
  margin: auto;
  white-space: nowrap;
}

.special-flavours__products h4 {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  color: var(--white);
  text-shadow: 2px -2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5rem;
}

.special-flavours__product-price {
  color: var(--white);
  text-shadow: 2px -2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
}

.special-flavours__product-price span {
  text-shadow: none;
  color: black;
  text-decoration: line-through;
}

/************************************** End Special flavour ***********************************/

/************************************** Featured products***********************************/
.featured-products-wrapper {
  overflow: hidden;
}

.featured-products {
  max-width: var(--section-width);
  margin: 4rem auto 10rem;
  background: url(../img/grit.0f8155d3.png) 1700px, var(--pink);
  background-size: cover;
  border-radius: 20px;
  position: relative;
  padding: 3em;
  --add-to-cart-font-size: 1.3rem;
  --add-to-cart-padding: 0.38em;
}

.featured-products:nth-of-type(3) {
  margin-bottom: 1rem;
}

.featured-products h4 {
  font-size: clamp(2.2rem, 4vw, 6rem);
  margin: 1rem auto 2rem;
  font-family: var(--heading-font);
  font-weight: normal;
  color: var(--white);
  text-shadow: 2px -2px 4px rgba(0, 0, 0, 0.5);
}

.featured-products p {
  font-size: clamp(1.3rem, 1.8vw, 3.5rem);
  width: var(--product-details-width);
  margin: 3rem 0 1.5rem;
  color: rgb(0, 0, 0, 0.8);
  text-shadow: 2px -2px 4px rgba(255, 255, 255, 0.3);
}

.featured-products img {
  float: right;
  shape-outside: url(../img/feast-chocolate.webp);
  shape-margin: 2.5rem;
  margin: -12rem -15rem 0 0;
  transform: rotate(34deg);
  width: 43rem;
}

/* Media queries */
@media screen and (max-width: 1100px) {
  .featured-products {
    margin: 0rem auto 4rem;
    padding: 2em;
  }

  .featured-products img {
    float: none;
    transform: rotate(0);
    width: 20rem;
    display: block;
    margin: auto;
  }

  .featured-products h4 {
    margin: 0;
  }

  .featured-products p {
    margin: 0;
    padding: 0.5rem 0;
    width: 100%;
  }
}

/************************************** End Featured products***********************************/

/************************************** Why us? ***********************************/
.special-flavours__yummy-sticks .special-flavour__content-details {
  --product-details-width: 65%;
}

.why-us {
  max-width: var(--section-width);
  margin: auto;
}

.why-us__reasons-wrapper {
  background: url(../img/blackgrit.png) 1700px, var(--dark-yellow);
  margin: 1rem 0;
  padding: 2em;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

.why-us__reasons {
  border-radius: 5px;
  background: var(--white);
  width: 25%;
  padding: 1.5em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: clamp(1rem, 1.3vw, 3rem);
  text-align: center;
  margin: 0.5rem;
}

.why-us__reasons img {
  width: 50%;
  padding-bottom: 1em;
}

/* Media queries */
@media screen and (max-width: 750px) {
  .why-us__reasons img {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .why-us__reasons-wrapper {
    flex-direction: column;
  }
  .why-us__reasons img {
    width: 30%;
  }
  .why-us__reasons {
    width: 100%;
    padding: 0.5em;
  }
}
/************************************** End Why us? ***********************************/

footer {
  background: rgb(102, 75, 194, 0.5);
  padding: 2em;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

footer h5 {
  font-size: clamp(2rem, 2vw, 3rem);
  font-family: var(--heading-font);
  color: var(--yellow);
  margin: 0.5rem 0;
}

footer p {
  font-size: clamp(1rem, 1vw, 3rem);
}

.address,
.me {
  color: var(--white);
}

.me {
  margin-top: 1rem;
}

.contact-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1.5rem, 1fr));
}

.contact i,
.contact a {
  font-size: 3rem;
  color: rgb(0, 0, 0, 0.6);
  width: 3rem;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-github:hover,
.fa-codepen:hover {
  color: #fff;
}

.fa-instagram:hover {
  filter: drop-shadow(0px 0px 1px black);
  background: linear-gradient(
    to bottom,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #f77737,
    #fcaf45,
    #ffdc80
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animate-img {
  animation: animate-img 0.3s alternate ease;
  animation-iteration-count: 2;
}

.animate-featured-img {
  animation: animate-featured-img 0.3s alternate ease;
  animation-iteration-count: 2;
}

@keyframes animate-featured-img {
  from {
    transform: rotate(34deg);
  }
  to {
    transform: rotate(34deg) scale(1.05);
  }
}

@keyframes animate-img {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
