*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Poppins", sans-serif;
  --hero-logo-font: "Herr Von Muellerhoff", cursive;
  --heading-font: "Montserrat", sans-serif;
  --main-background-left-color: #332379;
  --main-background-right-color: #5b42ab;
  --section-width: 80vw;
  --product-details-width: 80%;
  --yellow: #ffc600;
  --dark-yellow: #feb302;
  --pink: #f654ae;
  --dark-pink: #e6489f;
  --red: #d40000;
  --light-red: #eb2f64;
  --white: white;
  --section-heading-font-size: 2.3rem;
  --letter-spacing: 0.04em;
  --border-radius: 10px;
  --add-to-cart-height: 2rem;
  --add-to-cart-width: 7rem;
  --add-to-cart-font-size: 1.09rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  background: linear-gradient(
    to right,
    var(--main-background-left-color),
    var(--main-background-right-color)
  );
}

img {
  width: 100%;
}

/************************************** Navbar ***********************************/

header {
  display: flex;
  height: 6rem;
  flex-wrap: wrap;
}

#hero {
  background: url(../img/hero-bg.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#logo {
  flex: 1;
  margin-left: 5.2rem;
  padding-top: 0.8rem;
}

.logo__link {
  width: 2rem;
  font-family: var(--heading-font);
  color: var(--yellow);
  font-size: 3.5rem;
  text-decoration: none;
}

.nav {
  display: flex;
  list-style-type: none;
  height: 100%;
}

.nav__item {
  margin: 1.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--white);
  font-size: 1.4rem;
}

.nav__item--underline {
  border-bottom: 3px solid var(--white);
}

/************************************** End Navbar ***********************************/

/************************************** Hero banner ***********************************/
#hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 6rem);
  flex-direction: column;
}

.hero-text__heading {
  margin-top: -8rem;
  font-family: var(--hero-logo-font);
  color: var(--yellow);
  font-size: 8rem;
  font-weight: normal;
  text-shadow: 3px 3px 4px #000000;
}

.hero-text__tagline {
  margin-top: -2rem;
  font-size: 1.8rem;
  width: 50vw;
  color: var(--white);
  text-align: center;
  letter-spacing: var(--letter-spacing);
  text-shadow: 2px 2px 4px #000000;
  font-family: var(--heading-font);
  font-weight: 500;
}

/************************************** End Hero banner ***********************************/

/************************************** Limited time ***********************************/
#limited-time {
  max-width: var(--section-width);
  margin: 3rem auto;
  background: url(../img/grit.0f8155d3.png) 1700px,
    url(../img/grit.0f8155d3.png) 1700px, var(--dark-yellow);
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

#limited-time__img {
  position: absolute;
  top: -15.5rem;
  right: -5rem;
  width: 35rem;
  transform: rotate(53deg);
}

.limited-time-wrapper {
  transform: translate(0, 0);
  width: var(--section-width);
  margin: auto;
}

.limited-time__side-banner {
  position: fixed;
  top: 0;
  left: 0;
  transform: rotate(-37deg) translateY(-31%) translateX(-26%);
  width: 9rem;
  text-align: center;
  font-size: 1.1rem;
  background: var(--light-red);
  border-radius: 5px;
}

.limited-time_content-wraper {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center;
  align-items: center;
  letter-spacing: var(--letter-spacing);
  padding: 2rem;
}

.limited-time__text {
  font-size: 2.2rem;
  z-index: 2;
  padding-left: 5rem;
}

.limited-time__text--attention {
  color: var(--white);
}

.limited-time__time {
  color: var(--white);
  font-size: 7rem;
  z-index: 2;
  font-family: var(--heading-font);
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.7);
}
/************************************** End Limited time ***********************************/

/************************************** Special flavour ***********************************/
.add-to-cart {
  font-family: inherit;
  font-weight: 500;
  margin: 0.5rem auto;
  font-size: var(--add-to-cart-font-size);
  background: #ffc600;
  border-radius: 8px;
  border: none;
  height: var(--add-to-cart-height);
  width: var(--add-to-cart-width);
  cursor: pointer;
}

.add-to-cart:hover {
  background: url(../img/blackgrit.png) center, #ffc600;
  animation: 2s steps(10) 0s infinite normal none running dance;
}

.add-to-cart:hover ~ img {
  transform: scale(2);
}

@keyframes dance {
  0% {
    background-position: 0px center;
  }

  100% {
    background-position: -600px center;
  }
}

.special-flavours {
  width: var(--section-width);
  margin: 4rem auto;
  letter-spacing: var(--letter-spacing);
}

.special-flavours__heading {
  color: var(--yellow);
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: var(--section-heading-font-size);
}

.special-flavours__products-grid {
  margin-top: 1rem;
  background: url(../img/grit.0f8155d3.png) 1700px, var(--pink);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 2rem;
  gap: 20px;
}

.special-flavours__products {
  background: var(--dark-pink);
  border-radius: 10px;
  padding: 1rem;
}

.special-flavours__products img {
  transition: all 0.3s linear;
}

.special-flavour__content-details {
  width: var(--product-details-width);
  margin: auto;
  white-space: nowrap;
}

.special-flavours__products h4 {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  color: var(--white);
  text-shadow: 2px -2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5rem;
}

.special-flavours__product-price {
  color: black;
  font-size: 1.2rem;
}

.special-flavours__product-price span {
  color: var(--red);
  text-decoration: line-through;
}

/************************************** End Special flavour ***********************************/

/************************************** Featured products***********************************/
.featured-products-wrapper {
  overflow: hidden;
}

.featured-products {
  max-width: var(--section-width);
  margin: 4rem auto 10rem;
  background: url(../img/grit.0f8155d3.png) 1700px, var(--pink);
  background-size: cover;
  border-radius: 20px;
  position: relative;
  padding: 3rem;
  --add-to-cart-height: 3rem;
  --add-to-cart-width: 12rem;
  --add-to-cart-font-size: 1.5rem;
}

.featured-products:nth-of-type(3) {
  margin-bottom: 1rem;
}

.featured-products h4 {
  font-size: 4.5rem;
  margin: 1rem auto 2rem;
  font-family: var(--heading-font);
  font-weight: normal;
  color: var(--white);
  text-shadow: 2px -2px 4px rgba(0, 0, 0, 0.5);
}

.featured-products p {
  font-size: 1.8rem;
  width: var(--product-details-width);
  margin: 3.5rem 0;
  color: rgb(0, 0, 0, 0.8);
  text-shadow: 2px -2px 4px rgba(255, 255, 255, 0.3);
}

.featured-products:nth-of-type(1) img,
.featured-products:nth-of-type(2) img,
.featured-products:nth-of-type(3) img {
  float: right;
  shape-outside: url(../img/feast-chocolate.webp);
  margin: -12rem -15rem 0 0;
  transform: rotate(34deg);
  width: 43rem;
}

/************************************** End Featured products***********************************/

.special-flavours__yummy-sticks .special-flavour__content-details {
  --product-details-width: 65%;
}

.why-us {
  max-width: var(--section-width);
  margin: auto;
}

.why-us__reasons-wrapper {
  background: url(../img/blackgrit.png) 1700px, var(--yellow);
  margin: 1rem 0;
  padding: 3.5rem;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  border-radius: 10px;
}

.why-us__reasons {
  background: var(--white);
  width: 25%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  margin: 0.5rem;
}
